{%extends "ourApp/layout.html" %}

{%block content%}
{% load staticfiles %}
    <!--== Page Title Area Start ==-->
    <section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>About US</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p>testimonial</p>
                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>
    <!--== Page Title Area End ==-->

    <!--== About Page Content Start ==-->
    <section id="about-area" class="section-padding">
        <div class="container">
            <div class="row">
                <!-- Section Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>About us</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p>We want to make renting a car as simple and personal as driving your own.</p>
                    </div>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="row">
                <!-- About Content Start -->
                <div class="col-lg-6">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="about-content">
                                <p>Arranging car hire in 160 countries and 40 languages, NomadRent.com is the world's biggest online car rental service. Working with leading suppliers, we offer great prices on all car groups, including luxury cars, people carriers, minivans and automatic cars. With a multilingual call centre open 7 days a week, we can find you the best rental prices whenever you want – wherever you go.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- About Content End -->

                <!-- About Video Start -->
                <div class="col-lg-6">
                    <div class="about-image">
                        <img src="{% static 'ourApp/img/home-2-about.png' %}" alt="JSOFT">
                    </div>
                </div>
                <!-- About Video End -->
            </div>

            <!-- About Fretutes Start -->
            <div class="about-feature-area">
                <div class="row">
                    <!-- Single Fretutes Start -->
                    <div class="col-lg-4">
                        <div class="about-feature-item">
                            <i class="fa fa-car"></i>
                            <h3>We know the service you receive matters</h3>
                            <p>So we use real reviews, genuine customer feedback and our own experience to guide you through your best options.</p>
                        </div>
                    </div>
                    <!-- Single Fretutes End -->

                    <!-- Single Fretutes Start -->
                    <div class="col-lg-4">
                        <div class="about-feature-item">
                            <i class="fa fa-car"></i>
                            <h3>We work with car hire companies all over the world</h3>
                            <p>From household names to small local specialists – to bring you the cars, choices and deals that make the difference to your trip.</p>
                        </div>
                    </div>
                    <!-- Single Fretutes End -->

                    <!-- Single Fretutes Start -->
                    <div class="col-lg-4">
                        <div class="about-feature-item">
                            <i class="fa fa-car"></i>
                            <h3>And we stay with you every step of the way</h3>
                            <p>Our customer team is here to support you through your trip, wherever and whenever you need extra help.</p>
                        </div>
                    </div>
                    <!-- Single Fretutes End -->
                </div>
            </div>
            <!-- About Fretutes End -->
        </div>
    </section>
    <!--== About Page Content End ==-->

    <!--== Our Facility Content Start ==-->
    <section id="our-facility" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Single Facility Start -->
                <div class="col-lg-3 col-md-6">
                    <div class="single-our-facility">
                        <h3>LIMO PARTY RENT</h3>
                        <ul>
                            <li>Parallax Everywhere</li>
                            <li>Interactive and Fun</li>
                            <li>Responsive and Refined</li>
                            <li>Color it All</li>
                            <li>Customize and Create</li>
                        </ul>
                    </div>
                </div>
                <!-- Single Facility Start -->

                <!-- Single Facility Start -->
                <div class="col-lg-3 col-md-6">
                    <div class="single-our-facility">
                        <h3>BUSINESS LIMO RENT</h3>
                        <ul>
                            <li>Parallax Everywhere</li>
                            <li>Interactive and Fun</li>
                            <li>Responsive and Refined</li>
                            <li>Color it All</li>
                            <li>Customize and Create</li>
                        </ul>
                    </div>
                </div>
                <!-- Single Facility Start -->

                <!-- Single Facility Start -->
                <div class="col-lg-3 col-md-6">
                    <div class="single-our-facility">
                        <h3>HOTEL/CASINO/HOTEL</h3>
                        <ul>
                            <li>Parallax Everywhere</li>
                            <li>Interactive and Fun</li>
                            <li>Responsive and Refined</li>
                            <li>Color it All</li>
                            <li>Customize and Create</li>
                        </ul>
                    </div>
                </div>
                <!-- Single Facility Start -->

                <!-- Single Facility Start -->
                <div class="col-lg-3 col-md-6">
                    <div class="single-our-facility">
                        <h3>AIRPORT TRANSPORT</h3>
                        <ul>
                            <li>Parallax Everywhere</li>
                            <li>Interactive and Fun</li>
                            <li>Responsive and Refined</li>
                            <li>Color it All</li>
                            <li>Customize and Create</li>
                        </ul>
                    </div>
                </div>
                <!-- Single Facility Start -->
            </div>
        </div>
    </section>
    <!--== Our Facility Content End ==-->

    <!--== Partner Area Start ==-->
    <div id="partner-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="partner-content-wrap">
                         <!-- Single Partner Start -->
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="{% static 'ourApp/img/partner/partner-logo-1.png'%}" alt="JSOFT">
                                </div>
                            </div>
                        </div>
                        <!-- Single Partner End -->

                        <!-- Single Partner Start -->
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="{% static 'ourApp/img/partner/partner-logo-2.png'%}" alt="JSOFT">
                                </div>
                            </div>
                        </div>
                        <!-- Single Partner End -->

                        <!-- Single Partner Start -->
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="{% static 'ourApp/img/partner/partner-logo-3.png'%}" alt="JSOFT">
                                </div>
                            </div>
                        </div>
                        <!-- Single Partner End -->

                        <!-- Single Partner Start -->
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="{% static 'ourApp/img/partner/partner-logo-4.png'%}" alt="JSOFT">
                                </div>
                            </div>
                        </div>
                        <!-- Single Partner End -->

                        <!-- Single Partner Start -->
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="{% static 'ourApp/img/partner/partner-logo-5.png'%}" alt="JSOFT">
                                </div>
                            </div>
                        </div>
                        <!-- Single Partner End -->

                        <!-- Single Partner Start -->
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="{% static 'ourApp/img/partner/partner-logo-1.png'%}" alt="JSOFT">
                                </div>
                            </div>
                        </div>
                        <!-- Single Partner End -->

                        <!-- Single Partner Start -->
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="{% static 'ourApp/img/partner/partner-logo-4.png'%}" alt="JSOFT">
                                </div>
                            </div>
                        </div>
                        <!-- Single Partner End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== Partner Area End ==-->
    {% if contacts %}
    <!--== Testimonials Area Start ==-->
    <section id="testimonial-area" class="section-padding">
        <div class="container">
            <div class="row">
                <!-- Section Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>Testimonials</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p></p>
                    </div>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-12 m-auto">
                    <div class="testimonial-content">
                      {% for contact in contacts %}
                        <!--== Single Testimoial Start ==-->
                        <div class="single-testimonial">
                            <p>{{contact.message}}</p>
                            <h3>{{contact.full_name}}</h3>
                        </div>
                        <!--== Single Testimoial End ==-->
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <!--== Testimonials Area End ==-->

{% endblock %}
