{%extends "ourApp/layout.html" %}

{%block content%}
{% load staticfiles %}

    <!--== Page Title Area Start ==-->
    <section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>Our Cars</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>
    <!--== Page Title Area End ==-->

    <!--== Car List Area Start ==-->
    <section id="car-list-area" class="section-padding">
        <div class="container">
            <div class="row">
                <!-- Sidebar Area Start -->
                <div class="col-lg-4">
                    <div class="sidebar-content-wrap">
                        <!-- Single Sidebar Start -->
                        <div class="single-sidebar">
                            <h3>For More Informations</h3>

                            <div class="book-a-car" style="margin-top:0px">
                                <form action="{% url 'index' %}">
                                    <!--== Pick Up Location ==-->
                                    <div class="pickup-location book-item">
                                        <h4>PICK-UP LOCATION:</h4>
                                        <select class="custom-select">
                                          <option selected>{{location}}</option>
                                          {% for city in citys %}
                                          {%if city.name != location%}
                                          <option value="{{city.name}}">{{city.name}}</option>
                                          {%endif%}
                                          {%endfor%}
                                          </select>
                                   </div>
                                   <div class="pick-up-date book-item">
                                       <h4>PICK-UP DATE:</h4>
                                       <input id="startDate" placeholder="Pick Up Date" value="{{pickdate}}"></input>

                                       <div class="return-car">
                                           <h4>Return DATE:</h4>
                                           <input id="endDate" placeholder="Return Date" value="{{returndate}}"></input>
                                       </div>
                                   </div>
                                   <!--== Pick Up Location ==-->

                                   <!--== Car Choose ==-->

                                   <!--== Car Choose ==-->
                                </form>
                        </div>
                        </div>
                        <!-- Single Sidebar End -->

                        <!-- Single Sidebar Start -->
                        <div class="single-sidebar">
                            <h3>Rental Tips</h3>

                            <div class="sidebar-body">
                                <ul class="recent-tips">
                                    <li class="single-recent-tips">
                                        <div class="recent-tip-thum">
                                            <a href="#"><img src="{% static 'ourApp/img/we-do/service1-img.png'%}" alt="JSOFT"></a>
                                        </div>
                                        <input type="checkbox" id="shest001">


                                    </li>

                                    <li class="single-recent-tips">
                                        <div class="recent-tip-thum">
                                            <a href="#"><img src="assets/img/we-do/service3-img.png" alt="JSOFT"></a>
                                        </div>
                                        <div class="recent-tip-body">
                                            <h4><a href="#">How to Enjoy Losses Angeles Car Rentals</a></h4>
                                            <span class="date">February 5, 2018</span>
                                        </div>
                                    </li>

                                    <li class="single-recent-tips">
                                        <div class="recent-tip-thum">
                                            <a href="#"><img src="assets/img/we-do/service2-img.png" alt="JSOFT"></a>
                                        </div>
                                        <div class="recent-tip-body">
                                            <h4><a href="#">How to Enjoy Losses Angeles Car Rentals</a></h4>
                                            <span class="date">February 5, 2018</span>
                                        </div>
                                    </li>

                                    <li class="single-recent-tips">
                                        <div class="recent-tip-thum">
                                            <a href="#"><img src="assets/img/we-do/service3-img.png" alt="JSOFT"></a>
                                        </div>
                                        <div class="recent-tip-body">
                                            <h4><a href="#">How to Enjoy Losses Angeles Car Rentals</a></h4>
                                            <span class="date">February 5, 2018</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Single Sidebar End -->

                        <!-- Single Sidebar Start -->
                        <div class="single-sidebar">
                            <h3>Connect with Us</h3>

                            <div class="sidebar-body">
                                <div class="social-icons text-center">
                                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-behance"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Sidebar End -->
                    </div>
                </div>
                <!-- Sidebar Area End -->

                <!-- Car List Content Start -->
                <div class="col-lg-8">

                  <div class="slideshow-container">
                    <div clss="mySlides fade">
                      <div class="numbertext">1/3</div>
                      <a class="car-hover" href="{{car.picture_id.userImg.url}}">
                          <img src="{% static 'ourApp/img/partner/partner-logo-4.png'%}" alt="JSOFT">
                      </a>
                      <div class="text">Text</div>
                    </div>

                    <div clss="mySlides fade">
                      <div class="numbertext">1/3</div>
                      <a class="car-hover" href="{{car.picture_id.userImg.url}}">
                          <img src="{% static 'ourApp/img/partner/partner-logo-4.png'%}" alt="JSOFT">
                      </a>
                      <div class="text">Text</div>
                    </div>

                    <div clss="mySlides fade">
                      <div class="numbertext">1/3</div>
                      <a class="car-hover" href="{{car.picture_id.userImg.url}}">
                          <img src="{% static 'ourApp/img/partner/partner-logo-4.png'%}" alt="JSOFT">
                      </a>
                      <div class="text">Text</div>
                    </div>

                    <a class="prev" onclick="plusSlides(-1)">&#10094</a>
                    <a class="next" onclick="plusSlides(1)">&#10095</a>
                  </div>


                    <div class="car-list-content m-t-50">
                        <!-- Single Car Start -->

                        {% for car in page_object.object_list%}
                        <div class="single-car-wrap">
                            <div class="row">
                                <!-- Single Car Thumbnail -->
                                <div class="col-lg-5">
                                  <div class="p-car-thumbnails">
                                      <a class="car-hover" href="{{car.picture_id.userImg.url}}">
                                          <img src="{{car.picture_id.userImg.url}}" alt="JSOFT">
                                      </a>
                                  </div>
                                </div>
                                <!-- Single Car Thumbnail -->
                                <!-- Single Car Info -->
                                <div class="col-lg-7">
                                    <div class="display-table">
                                        <div class="display-table-cell">
                                            <div class="car-list-info">


                                                <h2><a href="#">{{car.name}}</a></h2>
                                                <h5>${{car.price_hourly}}/hour</h5>
                                                <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean inorci luctus et ultrices posuere cubilia.</p>
                                                <ul class="car-info-list">
                                                    <li>{{car.model_year}}</li>
                                                    <li>{{car.engine_id.name}}</li>
                                                    <li>{{car.fuel_id.name}}</li>
                                                </ul>
                                                <p class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star unmark"></i>
                                                </p>
                                                <a href="#" class="rent-btn">Book It</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Car info -->
                            </div>
                        </div>
                        <!-- Single Car End -->
                        {% endfor %}
                        <!-- Single Car Start -->


                    <!-- Page Pagination Start -->
                    {% if is_paginated %}
                    <div class="page-pagi">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item {% if not prev_url %} disabled {% endif %}">
                                  <a class="page-link" href="{{prev_url}}" tabindex="-1">Previous</a>
                                </li>

                                {% for n in page_object.paginator.page_range %}

                                    {% if page_object.number == n %}
                                        <li class="page-item active"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                                    {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
                                        <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                                    {%endif%}

                                {%endfor%}

                                <li class="page-item {% if not next_url %} disabled {% endif %}">
                                  <a class="page-link" href="{{next_url}}" tabindex="-1">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    {% endif %}
                    <!-- Page Pagination End -->
                </div>
                <!-- Car List Content End -->
            </div>
        </div>
    </section>
    <!--== Car List Area End ==-->


{% endblock %}
