{%extends "ourApp/layout.html" %}

{%block content%}
{% load staticfiles %}

    <!--== Page Title Area Start ==-->
    <section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>Our Services</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p>If you are travelling to Kazakhstan for the ultimate driving holiday, NomadRent has the right vehicle for you at the best price.</p>
						            <p>NomadRent offers a wide selection of rental vehicles including; small economy hatchbacks that are perfect for around town or short trips, mid-size and full size hatchbacks and sedans, station wagons that will be perfect for your driving holiday.</p>
						            <p>NomadRent has rental locations at Almaty International Airport, Nur-Sultan International Airport and Shymkent International Airport to service all international arrivals. We also operate car rental locations at all big cities of our Country. </p>
                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>
    <!--== Page Title Area End ==-->

    <!--== Service Page Content Start ==-->
    <section id="service-page-wrapper" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Single Services Start -->
                    <div class="single-service-item">
                        <div class="service-item-thumb ser-thumb-bg-1"></div>
                        <div class="service-item-content">
                            <h3>RENTAL CAR</h3>
                            <p>A car rental, hire car, or car hire agency is a company that rents automobiles for short periods of time, generally ranging from a few hours to a few weeks. It is often organised with numerous local branches (which allow a user to return a vehicle to a different location), and primarily located near airports or busy city areas and often complemented by a website allowing online reservations.</p>
                            </div>
                    </div>
                    <!-- Single Services End -->

                    <!-- Single Services Start -->
                    <div class="single-service-item">
                        <div class="service-item-thumb ser-thumb-bg-2 d-lg-none d-md-block"></div>
                        <div class="service-item-content">
                            <h3>LIFE INSURANCE</h3>
                            <p>Life insurance is a contract between an insurer and a policyholder in which the insurer guarantees payment of a death benefit to named beneficiaries upon the death of the insured. The insurance company promises a death benefit in consideration of the payment of premium by the insured. This is often calculated with a free asset ratio.</p>
                        </div>
                        <div class="service-item-thumb ser-thumb-bg-2 d-none d-lg-block d-md-none"></div>
                    </div>
                    <!-- Single Services End -->

                    <!-- Single Services Start -->
                    <div class="single-service-item">
                        <div class="service-item-thumb ser-thumb-bg-3"></div>
                        <div class="service-item-content">
                            <h3>TAXI SERVICE</h3>
                            <p>There are many official and semi-official taxi services all over Almaty. You can find taxis parked outside popular venues like the Airport and shopping malls. At the airport, be ready to have many people offering you a ride as you leave the building. We highly recommend to make a deal for a ride directly with the taxi driver, preferably if he speaks and understands at least basic English. Ideally, book a transfer with your hotel to ensure appropriate prices. Typically, the price of a ride will cost up to 2,000 KZT to/  from the city center from/ to the airport. UBERs are available by using the app.</p>
                        </div>
                    </div>
                    <!-- Single Services End -->

                    <!-- Single Services Start -->
                    <div class="single-service-item">
                        <div class="service-item-thumb ser-thumb-bg-4 d-lg-none d-md-block"></div>
                        <div class="service-item-content">
                            <h3>CALL DRIVER</h3>
                            <p>We have well experienced and Qualified drivers of minimum 3+ yrs Experience. We provide professional drivers to customer's door step when they need. Our business is from repeated customers and referrals.
We maintain Good Relationship with customers and drivers.
Some of our customers are VIPs,politician and businessmen.
All of our drivers have been professionally trained to a very high standard.</p>
                        </div>
                        <div class="service-item-thumb ser-thumb-bg-2 d-none d-lg-block d-md-none"></div>
                    </div>
                    <!-- Single Services End -->
                </div>
            </div>
        </div>
    </section>
    <!--== Service Page Content End ==-->

    <!--== Partner Area Start ==-->
    <div id="partner-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="partner-content-wrap">
                        <!-- Single Partner Start -->
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                  <img src="{% static 'ourApp/img/partner/partner-logo-1.png'%}" alt="JSOFT">
                              </div>
                            </div>
                        </div>
                        <!-- Single Partner End -->

                        <!-- Single Partner Start -->
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                  <img src="{% static 'ourApp/img/partner/partner-logo-2.png'%}" alt="JSOFT">
                              </div>
                            </div>
                        </div>
                        <!-- Single Partner End -->

                        <!-- Single Partner Start -->
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                  <img src="{% static 'ourApp/img/partner/partner-logo-3.png'%}" alt="JSOFT">
                              </div>
                            </div>
                        </div>
                        <!-- Single Partner End -->

                        <!-- Single Partner Start -->
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                  <img src="{% static 'ourApp/img/partner/partner-logo-4.png'%}" alt="JSOFT">
                              </div>
                            </div>
                        </div>
                        <!-- Single Partner End -->

                        <!-- Single Partner Start -->
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                  <img src="{% static 'ourApp/img/partner/partner-logo-5.png'%}" alt="JSOFT">
                              </div>
                            </div>
                        </div>
                        <!-- Single Partner End -->

                        <!-- Single Partner Start -->
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                  <img src="{% static 'ourApp/img/partner/partner-logo-1.png'%}" alt="JSOFT">
                              </div>
                            </div>
                        </div>
                        <!-- Single Partner End -->

                        <!-- Single Partner Start -->
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                  <img src="{% static 'ourApp/img/partner/partner-logo-4.png'%}" alt="JSOFT">
                              </div>
                            </div>
                        </div>
                        <!-- Single Partner End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== Partner Area End ==-->
    {% if contacts %}
    <!--== Testimonials Area Start ==-->
    <section id="testimonial-area" class="section-padding">
        <div class="container">
            <div class="row">
                <!-- Section Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>Testimonials</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p></p>
                    </div>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-12 m-auto">
                    <div class="testimonial-content">
                      {% for contact in contacts %}
                        <!--== Single Testimoial Start ==-->
                        <div class="single-testimonial">
                            <p>{{contact.message}}</p>
                            <h3>{{contact.full_name}}</h3>
                        </div>
                        <!--== Single Testimoial End ==-->
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

{% endblock %}
